*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #002D62;
    color: #fff;
}

h1{
    font-size: 4rem;
    text-align: center;
    margin-top: 50px;
}

p{
    font-size: 22px;
}

#container{
    /* border: solid red 2px; */
}
.task{
    margin-top: 30;
    margin-bottom: 30px;
    width: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    display: flex;
    justify-content: space-between;

    background: rgba( 117, 91, 91, 0.55 );
    backdrop-filter: blur( 8.5px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-bottom: 3px #fff solid;

}




.icon:hover{
    font-size: 29px;
    transition: 0.2s;
    cursor: pointer;
}
.icon-star{
    opacity: 0.4;
    font-size: 27px;
}
.icon-trash{
    opacity: 0.4;
}

.icon-star:hover{
    color: orange;
    opacity: 1;
}

.icon-trash{
    margin-right: 10px;
    font-size: 27px;
}
.icon-trash:hover{
    margin-right: 10px;
    font-size: 29px;
    opacity: 1;
}

.icon-frustrated2{
    color: rgb(250, 212, 96);
    font-size: 24px;
}

h2{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
form{
    text-align: center;
    margin-bottom: 10px;
}
input{
    padding: 10px 20px;
    border-radius: 6px;
    width: 35vw;
    padding: 5px;
    text-align: center;
}
.icon-upload{
    all: unset;
    font-size: 30px;
    color: #fff;
    position: relative;
    top: 8px;
    margin-left: 5px;

}

.icon-upload:hover{
    font-size: 35px;
    transition: 0.2s;
    color: green;
    cursor: pointer;
}

/*for javascript*/

.dn{
    display: none;
}

.icon-heart{
    font-size: 23px;
    color: red;
}
.icon-heart:hover{
    font-size: 25px;
    transition: 0.2s;
}

.finish{
    text-decoration-line: line-through;
    text-decoration-style: wavy;

}

.orange{
    color: orange;
    opacity: 1;
}